.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#times {
  display: flex;
  margin: 5vh 10vw;
  justify-content: space-between;
}

.setting {
  display: inline-block;
  margin: 50px
}